Data Types

In [1]:
type(346)

int

In [2]:
type(45.3)

float

In [3]:
type('c')

str

In [4]:
type(True)

bool

In [5]:
int(34.5)
#It trunkates the .5 leaving 34

34

Algebraic

In [6]:
#Addition
78+85

163

In [7]:
#Subtraction
78-85

-7

In [8]:
#Multiplication
78*85

6630

In [9]:
#Exponentiation
78**85

67304054671971450739989420306807619836799377985470716666894760506378032361691314076427140597397010589541943423481240405499752742660038542135357687606606894727168

In [10]:
#Division (Float)
20/6

3.3333333333333335

In [11]:
#Division (Int)
20//6 #Double Slash

3

In [12]:
#Modulus
20%6

2

Operations for String

In [13]:
s = "Advanced Programming"
s

'Advanced Programming'

In [14]:
#swaps the case of each letter
s.swapcase()

'aDVANCED pROGRAMMING'

In [15]:
#Dependent on ASCII codes
max(s) #Gets the letter with the most number of uses

'v'

In [16]:
s.isupper() #checks if all the letters of a string is in uppercase

False

In [17]:
s.replace("m", "^")

'Advanced Progra^^ing'

In [18]:
#Detector Syntax
x = "gram" in s #checks if "gram is in the string"
x

True

In [19]:
#Slicing - [starting letter number, total number of letters (including spaces) in the string, interval of letters]
s[0:20:4]

'An gm'

In [20]:
txt = "I love {}"
txt.format(s)

'I love Advanced Programming'

Data Structures

List - uses [] brackets

In [21]:
m = ["apple", "banana", "cherry"]
m

['apple', 'banana', 'cherry']

In [22]:
print(m[2])

cherry

In [23]:
print(m[-1]) #cycle backwards

cherry

In [24]:
m.append("mango") #adds an element at the end of the list
m

['apple', 'banana', 'cherry', 'mango']

In [25]:
m.insert(2, "orange") #adds an element depending on the index (which in here is 2)
m

['apple', 'banana', 'orange', 'cherry', 'mango']

In [26]:
m.remove("banana") #removes an element
m

['apple', 'orange', 'cherry', 'mango']

In [27]:
m.sort() #sorts the list in alphabetical ordeer
m

['apple', 'cherry', 'mango', 'orange']

In [28]:
del m[1] #removes an element depending on the index (which in here is 1)
m

['apple', 'mango', 'orange']

Dictionary - uses {} curly braces and uses : colon
"key":"element

In [29]:
d = {"brand":"Mitsubishi", "model":"Mirage", "year":"2018"}
d

{'brand': 'Mitsubishi', 'model': 'Mirage', 'year': '2018'}

In [30]:
d.get("model") #gets the value of a key

'Mirage'

In [31]:
d["color"] = "pink" #adds a key
d

{'brand': 'Mitsubishi', 'model': 'Mirage', 'year': '2018', 'color': 'pink'}

In [32]:
d.keys() #dictates all keys

dict_keys(['brand', 'model', 'year', 'color'])

In [33]:
d.pop("model") #removes a key and element
d

{'brand': 'Mitsubishi', 'year': '2018', 'color': 'pink'}

In [34]:
d.popitem() #removes the last key and element and if ran again it repeats the process
d

{'brand': 'Mitsubishi', 'year': '2018'}

Tuple - collection of data which is immutable (immovable)

In [35]:
t = "apple", "banana", "cherry", "mango", "orange"
t

('apple', 'banana', 'cherry', 'mango', 'orange')

In [36]:
print(t[3])

mango

In [37]:
print(t[-2])

mango

In [42]:
print(t[2:5]) #dictates all the elements in a range (Note: this doesn't include the last element prompted but includes the first element prompted)

('cherry', 'mango', 'orange')

In [43]:
t[2] = "orange" #since tuple is immutable, this cannot work

TypeError: 'tuple' object does not support item assignment

In [44]:
len(t) #dictates the number of elements

5

In [45]:
del t #since tuple is immutable, this cannot work
t

NameError: name 't' is not defined

Set - collection of unique data elements which is unordered

In [52]:
s = {"apple", "banana", "cherry", "cherry"} #combines repeating elements
s

{'apple', 'banana', 'cherry'}

In [54]:
s.add("orange")
s

{'apple', 'banana', 'cherry', 'orange'}

In [55]:
s.update(["mango", "grapes"]) #adds elements and sorts them alphabetically
s

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [56]:
s.remove("banana")
s

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [57]:
s.pop() #removes the last element entry
s

{'apple', 'grapes', 'mango', 'orange'}

Input (Int or Float)

In [62]:
m = int(input("Enter a number: "))

Enter a number: 2

In [60]:
n = float(input("Enter a number: "))

Enter a number: 2.3

Output

In [63]:
print("Hello World")

Hello World

In [64]:
print(n)

2.3

In [65]:
print("My favorite number is", n, "and I used it earlier")

My favorite number is 2.3 and I used it earlier